
/dev/pvrsrvkm          0666    system    graphics
/dev/pvr_sync          0666    system    graphics
/dev/rtpmcall          0666    system    system
/dev/composer          0660    system    graphics
/dev/vcd_mem           0660    system    audio
/dev/video0            0660    media    graphics
/dev/video1            0660    media    graphics
/dev/i2c-*             0660    system    graphics
/dev/i2c-1             0660    media    graphics
/dev/rtds_mem          0660    media     graphics
/dev/ion               0777    system    graphics
/dev/iccom             0666    media     graphics
/dev/rtds_rcvry        0666    media     graphics
/dev/audio_test        0660    system    audio
/dev/zb3ctrl           0660    system    system
/dev/ttySC0            0660    root      system
/dev/ttyGS0            0660    root      system
/dev/ttyGS1            0660    root      system
/dev/ttySC4            0600    bluetooth bluetooth
/dev/ttySC5            0660    root      system
/dev/sectz             0660    root      system
/dev/bcm2079x          0660    nfc       nfc
/dev/sec-nfc           0660    nfc       nfc
/dev/mtd/mtd_trace     0660    system    system
/dev/ttySTM0           0660    system    system
#Permission for NV partition
/dev/block/mmcblk0p1   0770    radio     system
